
.player-summary
  font-size:       1.333em
  justify-content: center

  h3
    text-align:      center
    font-size:       2em
    display:         flex
    align-items:     center
    justify-content: center
    margin:          1em

    .profession
      height: 2em
      width:  2em
      margin: 1rem

  .agent-selection
    font-size:       1.5em
    @include horizontal-selection

  .agent-profession
    width:  1em
    height: 1em
    flex:   0 0 1em
    margin: 0 1rem

  .activations
    @include         block-margins
    display:         flex
    flex-direction:  horizontal
    flex-wrap:       wrap
    justify-content: left

    .activation
      display: flex
      flex:    1 1 2em

      img
        border: 2px solid transparent
        width:  2em
        height: 2em
        margin: 0.1em

      &.quickness
        img
          border-color: $success

      &.canceled
        img
          border-color: $failure
