
.summary
  font-size: 1.4em
  margin: 2em 1em

  .profession
    justify-content: right

    svg
      width: 100%
      height: 100%
  
  .scholar,
  .scholar-all,
  .dps,
  .dps-part,
  .subgroup
    justify-content: right

  .name
    flex: 5

  .scholar,
  .dps
    flex: 2

  .scholar-all,
  .dps-part
    font-size: 1rem
    color: #777
    flex: 1

table
  display:         flex
  flex-direction:  column
  justify-content: space-between

  tr
    display: flex
    flex-direction: row
    align-items:     center
    width: 100%
    // flex-wrap:      no-wrap

  td,
  th
    display:        flex
    flex-grow:      1
    flex-basis:     0
    vertical-align: middle
    align-items:    center
    padding:        0.25em