
.summary
  font-size: 1.33em

  .graph
    display: block
    max-width: 80em
    height: 300px
    margin: 1em auto

  .line
    fill: none
    stroke-width: 1.5

  .time-axis,
  .damage-axis
    font-size: 0.75em
  
  .total
    padding: 0.5em
  
  .group-total
    border-top: 1px #444 solid
    
    td
      padding-top: 0.5em

  .group-total + .group-total
    border-top: transparent

  .selected
    color:       $body
    font-weight: bold

  .sortable
    cursor: pointer

  .total
    border-top: 2px $body solid

    td
      padding: 0.5em